---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogLink from "../../components/BlogLink.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const uniqueTags = [
    ...new Set(posts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post: any) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <hgroup>
    <h2>Posts tagged with {tag}</h2>
  </hgroup>
  <section>
    {
      posts.map((post: any) => (
        <BlogLink
          title={post.data.title}
          description={post.data.description}
          lastUpdated={post.data.lastUpdated?.toLocaleDateString("en-us", {
            year: "numeric",
          })}
          url={`/blog/${post.id}/`}
        />
      ))
    }
  </section>
</BaseLayout>
