---
import BaseLayout from "../layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  footerMsg={frontmatter.footerMsg}
>
  <article>
    {
      frontmatter.heroImage && (
        <img
          src={frontmatter.heroImage}
          alt={`Hero image for ${frontmatter.title}`}
        />
      )
    }
    <header class="title">
      <h1>{frontmatter.title}</h1>
      {
        frontmatter.date && (
          <div class="date">
            Published on{" "}
            {new Date(frontmatter.date).toLocaleDateString(undefined, {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
            {frontmatter.lastUpdated && (
              <div class="last-updated-on">
                (Last updated on{" "}
                {new Date(frontmatter.lastUpdated).toLocaleDateString(
                  undefined,
                  { year: "numeric", month: "long", day: "numeric" },
                )}
                )
              </div>
            )}
          </div>
        )
      }
    </header>
    <hr />
    <slot />
  </article>
</BaseLayout>
