---
import BaseLayout from "../layouts/BaseLayout.astro";
import InlineLink from "../components/InlineLink.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <hgroup>
      <h2>{frontmatter.title}</h2>
      <div>
        {
          frontmatter.published && (
            <aside>
              Pub:{" "}
              {new Date(frontmatter.published).toLocaleDateString(undefined, {
                year: "numeric",
                month: "long",
              })}
            </aside>
          )
        }
        {
          frontmatter.lastUpdated && (
            <aside>
              Upd:{" "}
              {new Date(frontmatter.lastUpdated).toLocaleDateString(undefined, {
                year: "numeric",
                month: "long",
              })}
            </aside>
          )
        }
      </div>
    </hgroup>
    <hr />
    {
      frontmatter.tags &&
        frontmatter.tags.map((tag: any) => (
          <InlineLink href={`/tags/${tag}`}>#{tag}</InlineLink>
        ))
    }
    <slot />
  </article>
</BaseLayout>
